<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeliu.blog.dao.ArticleMapper" >

    <insert id="addArticle" parameterType="article" keyProperty="articleId" useGeneratedKeys="true">
        insert into article(article_name, article_body)
        value(#{articleName}, #{articleBody})
    </insert>

    <!--back-->
    <select id="listArticle" resultType="map">
        select article_id, article_name, article_time, article_status from article
        <where>
            <if test="_parameter != null">
                and article_id > #{_parameter}
            </if>
        </where>
        limit 10
    </select>

    <delete id="deleteArticle" parameterType="Integer">
        delete from article
        <where>
            article_id = #{articleId}
        </where>
    </delete>

    <update id="updateArticle" parameterType="article">
        update article set
        <if test="articleName != null">
            article_name = #{articleName},
        </if>
        <if test="articleBody != null">
            article_body = #{articleBody},
        </if>
        <if test="articleStatus != null">
            article_status = #{articleStatus}
        </if>
        <where>
            article_id = #{articleId}
        </where>
    </update>

    <!--front-->
    <select id="listAllArticle" resultType="map">
        select article_id, article_name, article_time from article
        <where>
            article_status = 1
        </where>
        order by article_time desc
    </select>
</mapper>