<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeliu.blog.dao.ImagesMapper" >

    <insert id="addImage" useGeneratedKeys="true" keyProperty="image_id" parameterType="images">
        insert into images(image_url) values (#{imageUrl});
    </insert>

    <delete id="deleteImage" parameterType="Integer">
        delete from images
        <where>
            image_id = #{imageId}
        </where>
    </delete>

    <select id="listImage" resultType="map">
        select image_id, image_url from images
        <where>
            <if test="_parameter != null">
                and image_id > #{_parameter}
            </if>
        </where>
        limit 10
    </select>
</mapper>