<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeliu.blog.dao.UserMapper" >

    <sql id="field">
        user_id, user_name, user_salt, user_password, role_id
    </sql>

    <!--Find user by username-->
    <select id="findByName" resultType="user">
        select <include refid="field" />
        from user where user_name = #{username}
    </select>

    <!--Add a user-->
    <insert id="addUser" parameterType="user">
        insert into user(user_name, user_salt, user_password, role_id)
              values(#{userName}, #{userSalt}, #{userPassword}, #{roleId})
    </insert>

    <!--Delete a user. User name is unique-->
    <delete id="delUser">
        delete from user
        <where>
            user_name = #{userName}
        </where>
    </delete>

    <!--Update user password-->
    <update id="updateUser" parameterType="user">
        update user set user_salt = #{userSalt}, user_password = #{userPassword}
        <where>
            user_id = #{userId}
        </where>
    </update>

</mapper>